@import '../../../shared/main';
@import '../../../shared/utils';

.main-menu {
	min-width: 150px;
	max-width: 90%;
	left: 0;
	width: $--main-menu-width;
	height: 100%;

	&__header {
		display: flex;
		font-size: 1.7rem;
		font-weight: 600;
		padding: 30px;
	}
}
