.meal {
	margin-bottom: 0.5rem;
	border: none;
	background-color: transparent;

	&__name {
		font-size: 0.8rem;
	}
	&__items {
		display: flex;
		flex: 1 0;
	}
	&__time-item {
		display: flex;
		flex: 1 0;
	}
	&__price-item {
		display: flex;
	}
}
