@import '../../../shared/main';
@import '../../../shared/utils';

.overview {
	color: $--font-main-color;
	text-align: center;
	left: 0;
	flex: 1 0;
	padding: 1rem 0;

	/*
	 * Override swiper styles
	 */
	.swiper-container {
		height: 100%;

		.swiper-pagination-bullet {
			background-color: rgba(255, 255, 255, 0.7) !important;
			transform: scale(1.2);
			&-active {
				background-color: #fff !important;
			}
		}
	}

	&__content {
		@include flex-center-vertical;
		align-items: flex-end;
		height: 100%;

		h2 {
			@include header;
		}
	}
}
