@import '../../shared/main';
@import '../../shared/utils';

.toolbar {
	max-width: $--max-page-width;
	flex: 0 0;
	padding: 0 30px 0 30px;

	&__button-group {
		display: flex;
		flex-direction: column;
		flex: 1 0;

		a {
			color: $--login-button-font-color;
			text-decoration: none;
		}
	}
}
