@import '../../../shared/main';
@import '../../../shared/utils';

$--logo-size: 100px;
$--logo-background-size: 93px;

.view-logo {
	height: $--logo-background-size;
	width: $--logo-background-size;
	background-color: $--logo-background-color;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	position: relative;
	line-height: $--logo-background-size;

	@include flex-center-vertical;
	@include flex-center-horizontal;

	.logo-icon {
		@include flex-center-vertical;
		@include flex-center-horizontal;

		img {
			height: $--logo-size;
			width: $--logo-size;
			padding-left: 4px;
		}
	}
}
