$--schema-color-1: #309f5f;
$--schema-color-2: #fff;
$--schema-color-3: #3cbb72;
$--schema-color-4: #ff7f23;
$--schema-color-5: #000;

$--schema-2-color-1: #ececec;
$--schema-2-color-2: #e5e5e5;
$--schema-2-color-3: #646464;

// general
$--page-background-color: $--schema-color-2;
$--logo-background-color: $--schema-color-2;
$--font-main-color: $--schema-color-2;
$--font-secondary-color: $--schema-color-5;

// login buttons
$--login-button-font-color: $--schema-color-2;
$--login-button-font-color-2: $--schema-color-5;
$--login-button-font-color-3: $--schema-2-color-3;
$--login-button-color: $--schema-color-3;
$--login-button-primary-color: $--schema-color-4;
$--login-button-secondary-color: $--schema-2-color-2;

// text inputs
$--input-border-color: $--schema-2-color-1;
$--input-border-active-color: $--schema-color-1;
$--input-border-radius: 12px;

//main leftMenu
$--main-menu-width: 260px;
$--main-menu-top-swiped: 90px;
$--font-main-menu-items-color: #b0acb3;
$--max-page-width: 1024px;
