@mixin flex-center-horizontal {
	display: flex;

	align-items: center;
}

@mixin flex-center-vertical {
	display: flex;
	justify-content: center;
}

@mixin header {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.3;
}
