@import '../../shared/main';
@import '../../shared/utils';

.text-input-container {
	width: 100%;

	.text-input {
		border: 1px solid #ececec;
		height: 60px;
		width: 100%;
		margin-bottom: 12px;
		border-radius: $--input-border-radius;
		//padding: 15px 25px 15px 64px;
	}
}
