@import '../../shared/main';
@import '../../shared/utils';

.text-input-container {
	width: 100%;
	@include flex-center-vertical;
	position: relative;

	.text-input {
		border: 1px solid $--input-border-color;
		height: 60px;
		width: 100%;
		margin-bottom: 12px;
		border-radius: $--input-border-radius;
		padding: 15px 25px 15px 64px;
		box-sizing: border-box;
		font-size: 16px;

		&:focus {
			outline: none;
			border: 1px solid $--input-border-active-color;
		}

		&--symmetric {
			padding: 15px 64px 15px 64px;
		}
	}

	.media-input {
		@include flex-center-vertical;
		position: absolute;

		&__left-icon {
			top: 17px;
			left: 25px;
		}
		&__right-icon {
			top: 17px;
			right: 15px;
		}
	}
}
