@import '../../shared/main.scss';
@import '../../shared/utils.scss';

.login-page {
	@include page;
	@include page-container;
	display: flex;
	flex-direction: column;
	background-color: $--schema-color-1;
}
