.welcome-box {
	display: flex;
	flex-direction: column;
	padding-bottom: 180px;
	padding-top: 50px;
	text-align: center;
	align-items: center;

	.logo-title {
		margin: -2.7rem 0;
		height: 10rem;
		width: 10rem;
	}
	.logo-name {
		padding-top: 20px;
	}
}
