@import '../../shared/main.scss';
@import '../../shared/utils.scss';

.signup-page {
	max-width: $--max-page-width;
	@include page-container;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	color: $--login-button-font-color-2;

	&__header-group {
		@include flex-center-horizontal;
		@include flex-center-vertical;
		flex-direction: column;
		padding-top: 50px;
		flex: 0 1;

		.logo-container {
			margin-bottom: 2rem;
		}

		.signup-page__header {
			@include header;
			text-align: center;
		}

		.signup-page__description {
			margin: 1rem;
			@include regular-text;
			text-align: center;
			line-height: 1.5rem;
		}
	}
	&__inputs-group {
	}
	&__button-group {
		display: flex;
		flex-direction: column;
		flex: 1 0;

		a {
			color: $--login-button-font-color;
			text-decoration: none;
		}
	}
}
