@import './shared/main.scss';

.root {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;

	.page-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 9999;
		background-color: $--page-background-color;
		color: $--font-main-color;

		.page-content {
			display: flex;
			flex-direction: column;
			padding-bottom: 180px;
			padding-top: 50px;
			text-align: center;
		}
	}
}
