@import './shared/main.scss';
@import './shared/utils.scss';

* {
	font-family: 'Raleway', sans-serif;
}

html,
body {
	@include page;
	width: 100vw;
	padding: 0;
	margin: 0;
}

.root {
	@include page;
	overflow-x: hidden;
	color: $--font-main-color;
}
