@import '../../../../shared/main';
@import '../../../../shared/utils';

.home {
	h5 {
		font-size: 1.25rem;
		font-weight: 500;
		margin: 1rem 0;
	}

	.categories {
		&__content {
			width: 100%;
		}
	}
	.recommended {
		&__content {
		}
	}
}
