@import '../../../../shared/main';
@import '../../../../shared/utils';

.home {
	.categories {
		h5 {
			font-size: 1.25rem;
			font-weight: 500;
			margin: 1rem;
		}
		&__content {
			width: 100%;
		}
	}
}
